Repository ltphongssvn/autoloannodejs: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint-check, prettier-check

eslint-check:
  name: ESLint Check (CI Mirror)
  entry: npx eslint --max-warnings=0 --no-warn-ignored
  language: system
  pass_filenames: true

prettier-check:
  name: Prettier Format Check (CI Mirror)
  entry: npx prettier --check
  language: system
  pass_filenames: true

fix: sequelize-cli-config use env vars for DB_HOST (Docker compatibility)
  sequelize-cli-config.cjs
Due: prettier-check

fix: sequelize-cli-config use env vars for DB_HOST, update docker-compose
  .secrets.baseline
  docker-compose.yml
Due: none

fix: add missing user columns migration (jti, confirmation, reset_password)
  src/migrations/20240101000012-add-missing-user-columns.js
Due: eslint-check, prettier-check

fix: add missing resource_type/resource_id to security_audit_logs migration
  src/migrations/20240101000013-add-missing-security-audit-log-columns.js
Due: eslint-check, prettier-check

fix: update seed with all production users (staff + customers + real emails)
  src/seeders/20240101000001-seed-users.js
Due: eslint-check, prettier-check

fix: add missing ssn_encrypted/signature_data to applications migration
  src/migrations/20240101000014-add-missing-application-columns.js
Due: eslint-check, prettier-check

fix: add missing trim column to vehicles migration
  src/migrations/20240101000015-add-missing-vehicle-columns.js
Due: eslint-check, prettier-check

fix: add unique constraint on vehicles.application_id for upsert
  src/migrations/20240101000016-add-vehicle-application-id-unique.js
Due: eslint-check, prettier-check

fix: add missing financial_infos columns (months_employed, monthly_income, other_income)
  src/migrations/20240101000017-add-missing-financial-info-columns.js
Due: eslint-check, prettier-check

fix: add missing request_note column to documents migration
  src/migrations/20240101000018-add-missing-document-columns.js
Due: eslint-check, prettier-check

fix: make jwt_denylists timestamps nullable (model uses timestamps:false)
  src/migrations/20240101000019-fix-jwt-denylist-timestamps.js
Due: eslint-check, prettier-check

feat: add railway.toml for production deployment
  railway.toml
Due: none

fix: production sequelize-cli config use individual DB env vars (Railway)
  sequelize-cli-config.cjs
Due: prettier-check

fix: consolidate all fix migrations into base migrations, remove patches 12-19
  src/migrations/20240101000001-create-users.js
  src/migrations/20240101000002-create-applications.js
  src/migrations/20240101000003-create-vehicles.js
  src/migrations/20240101000005-create-financial-infos.js
  src/migrations/20240101000006-create-documents.js
  src/migrations/20240101000010-create-security-audit-logs.js
  src/migrations/20240101000011-create-jwt-denylists.js
  src/migrations/20240101000012-add-missing-user-columns.js
  src/migrations/20240101000013-add-missing-security-audit-log-columns.js
  src/migrations/20240101000014-add-missing-application-columns.js
  src/migrations/20240101000015-add-missing-vehicle-columns.js
  src/migrations/20240101000016-add-vehicle-application-id-unique.js
  src/migrations/20240101000017-add-missing-financial-info-columns.js
  src/migrations/20240101000018-add-missing-document-columns.js
  src/migrations/20240101000019-fix-jwt-denylist-timestamps.js
Due: eslint-check, prettier-check

fix: production database config use individual DB env vars
  src/config/database.js
Due: eslint-check, prettier-check

fix: update database test for production config without dialectOptions
  src/__tests__/config/database.test.js
Due: eslint-check, prettier-check

fix: railway startCommand show errors, increase healthcheck timeout
  railway.toml
Due: none

fix: remove seed from startCommand to isolate server startup issue
  railway.toml
Due: none

fix: bind to 0.0.0.0 for Railway container
  src/server.js
Due: eslint-check, prettier-check

debug: add verbose logging to startCommand
  railway.toml
Due: none

fix: add production stage as final Dockerfile target
  Dockerfile
Due: none

fix: production Dockerfile installs all deps, embeds start command
  Dockerfile
  railway.toml
Due: none

fix: add seed to production Dockerfile CMD
  Dockerfile
Due: none

feat: add Next.js frontend with Jest config and testing dependencies
  frontend/.gitignore
  frontend/README.md
  frontend/eslint.config.mjs
  frontend/jest.config.ts
  frontend/next.config.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/postcss.config.mjs
  frontend/public/file.svg
  frontend/public/globe.svg
  frontend/public/next.svg
  frontend/public/vercel.svg
  frontend/public/window.svg
  frontend/src/app/favicon.ico
  frontend/src/app/globals.css
  frontend/src/app/layout.tsx
  frontend/src/app/page.tsx
  frontend/tsconfig.json
Due: eslint-check, prettier-check

feat: add Jest test setup with testing-library/jest-dom
  frontend/src/test/setup.ts
Due: none

feat: add test scripts to frontend package.json
  frontend/package.json
Due: none

feat: add shared TypeScript types for User, Application, Document, Auth
  frontend/src/types/index.ts
Due: none

feat: add API service with SSR-safe localStorage handling
  frontend/src/services/api.ts
Due: none

feat: add auth service with login, signup, logout, getCurrentUser
  frontend/src/services/auth.ts
Due: none

feat: add applications service with CRUD, submit, sign operations
  frontend/src/services/applications.ts
Due: none

test: add API service tests with full coverage
  frontend/src/services/api.test.ts
Due: none

test: add auth service tests for login, signup, logout, getCurrentUser
  frontend/src/services/auth.test.ts
Due: none

test: add applications service tests for all CRUD operations
  frontend/src/services/applications.test.ts
Due: none

fix: convert jest.config to ESM (.mjs) to avoid require/module lint errors
  frontend/jest.config.mjs
Due: eslint-check, prettier-check

fix: auth test expects logout to re-throw after clearing token
  frontend/src/services/auth.test.ts
Due: none

fix: correct setupFilesAfterEnv typo in jest config
  frontend/jest.config.mjs
Due: eslint-check, prettier-check

feat: add AuthContext provider with session restoration
  frontend/src/context/AuthContext.tsx
Due: none

test: add AuthContext tests for session restore, logout, error handling
  frontend/src/context/AuthContext.test.tsx
Due: none

feat: add LoadingSpinner component
  frontend/src/components/common/LoadingSpinner.tsx
Due: none

test: add LoadingSpinner component tests
  frontend/src/components/common/LoadingSpinner.test.tsx
Due: none

Path conditions:
  eslint-check: any of: \.(js|mjs|cjs)$, but not: \.cjs$
  prettier-check: any of: \.(js|mjs|cjs)$
